@CHARSET "UTF-8";
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#showMessage {
	border: 1px solid black;
	width: 500px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
	overflow-x:hidden;
	
	word-wrap: break-word;
	word-break: normal;
}

#sendMessage {
	border: 1px solid black;
	width: 500px;
	height: 100px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#buttonDiv {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}